.searchable-container{margin:20px 0 0 0}
.searchable-container label.btn-default.active{background-color:#007ba7;color:#FFF}
.searchable-container label.btn-default{width:90%;border:1px solid #efefef;margin:5px; box-shadow:5px 8px 8px 0 #ccc;}
.searchable-container label .bizcontent{width:100%;}
.searchable-container .btn-group{width:90%}
.searchable-container .btn span.glyphicon{
    opacity: 0;
}
.searchable-container .btn.active span.glyphicon {
    opacity: 1;
}
h1{
    color: #12171b;
}
.items{
    margin-bottom: 25px;
}
a,
a:visited{
    color: #FF5000;
}
a:hover h5{
    color: #FF5000;
}
.items .bizmoduleselect>.btn{
    height: 220px;
}
.items pre{
    white-space: pre-wrap;
    overflow: hidden;
    text-align: left;
}
.items h4{
    line-height: 178px;
}